<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GeoLoader.Properties.Settings>
            <setting name="CacheExpirationInDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GeotagAndSaveCachePhotos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TruncateLongCacheDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxLogEntriesToSave" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SavePoiStyleGpx" serializeAs="String">
                <value>False</value>
            </setting>
        </GeoLoader.Properties.Settings>
    </applicationSettings>
</configuration>